.jumbotron {
    height: 40px
}

#title.display-4 {
    text-align: center;
    margin-top: -40px;
}

aside {
    background-color: rgb(180, 173, 173);
}

.container {
    background-color: lightgrey;
    height: 400px;
}

.col-8 {
    background-color: lightblue;
}

.col-lg-4{
    background-color: lightgreen;
}

.row {
    background-color: lightsalmon
}

#currentWeather {
    border-style: solid;
}