.jumbotron {
    height: 40px
}

#title.display-4 {
    text-align: center;
    margin-top: -40px;
}

#currentWeather {
    border-radius: 1px;
}

.jumbotron {
    background-color: #a0a1a1;
}

.btn {
    background-color: #007BFF;
    color: white;
}

.col-lg-4 {
    padding-bottom: -20px;
}

#uvNum {
    border-radius: 5px;
    padding: 7px;
}

#uvRow {
    margin-bottom: 20px;
}

.forecast {
    text-align: center;
    /* margin-right: 5px; */
    padding-top: 10px;
    padding-bottom: 10px;
    
}