.jumbotron {
    height: 40px
}

#title.display-4 {
    text-align: center;
    margin-top: -40px;
}

aside {
    background-color: #a0a1a1;
}

.container {
    background-color: #a0a1a1;
    
}

/* .col-8 {
    background-color: lightblue;
}

.col-lg-4{
    background-color: lightgreen;
}

.row {
    background-color: lightsalmon
} */

#currentWeather {
    border-radius: 1px;
}

.jumbotron {
    background-color: #a0a1a1;
}